@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Custom Styling Start */
body {
  background: #fafafa;
  color: #565562;
  padding: 3rem 2rem;
  font-family: "Titillium Web", sans-serif;
}

p {
  color: #a1a0ac;
  line-height: 1.5rem;
}

header {
  text-align: center;
  padding-bottom: 3rem;
}
header h1 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
}
header h2 {
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
header p {
  font-size: 1.1rem;
  font-weight: 400;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.8rem;
  -webkit-box-shadow: 0 3px 15px 3px #e6e6e6;
  box-shadow: 0 3px 15px 3px #e6e6e6;
  border-radius: 0.2rem;
  padding: 2rem;
}
.card:not(:last-child) {
  margin-bottom: 1.8rem;
}
.card h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

.supervisor {
  border-top: 4px solid #4fcdcf;
}

.team-builder {
  border-top: 4px solid #d95e60;
}

.karma {
  border-top: 4px solid #f3ae58;
}

.calculator {
  border-top: 4px solid #639fe3;
}

.card-img {
  padding-top: 1rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media screen and (min-width: 1000px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
  }

  header {
    max-width: 500px;
    margin: 0 auto;
  }
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 2.1rem;
  }
  header p {
    font-size: 1.2rem;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
  }

  .card {
    width: 33%;
  }
  .card:not(:last-child) {
    margin-bottom: unset;
  }

  .mid-cards-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
    width: 33%;
  }
  .mid-cards-wrap .card {
    width: 100%;
  }
}
span {
  -webkit-transition: all;
  transition: all;
}